<div class="about-me"> 
    <h4 class="about-me-title">About Me</h4>
    <p class="paragraph">
        I'm a highly motivated fourth-year Computer Science student hoping to secure a Software Developer internship position for May 2021.
        With both a creative and technical background, I am passionate about software development and seeking an internship that will
        allow me to apply my knowledge and make meaningful contributions to a team. I have previous experience as a Freelance Software Developer
        and have gained experience using JavaScript and HTML/CSS. In addition, over the course of my degree, 
        I have experience with Python, Java, and SQL databases.
    </p>
</div>
