<div class="about-me"> 
    <h4 class="about-me-title">About Me</h4>
    <p class="paragraph">
        I’m a fourth-year Computer Science student at the University of British Columbia hoping to secure the Front End Software Engineer Internship at the Female Laboratory of Innovative Knowledge (FLIK).
         With both a creative and technical background, I am passionate about front 
         end software development and seeking an internship that will allow 
         me to apply my knowledge and make meaningful contributions to a 
         team. In addition, I am looking to join a company that is making 
         positive changes in the world. I believe that FLIK is doing this.
         With experience using JavaScript, Node.js, TypeScript, and
          Express, I believe that I would be a great fit for this position.
        
    </p>
</div>
