<h4 class="hobbies-title" >Hobbies</h4>

<p class="paragraph">
    When I'm not programming, I spend a lot of time outdoors.
    Hiking has always been incredibly rewarding to me - It challenges me
    physically, mentally, and emotionally.
    I'm always trying to push my limits and outdo myself.
    Last summer, I climbed almost 2200 meters in a single day to get to Mount Weart, my highest peak at 2,835 meters.
    My biggest accomplishment, however, is staying consistent in working towards my goals.
</p>

<div class="stats">
 <h4 class="stats-items">2020:</h4>
<h4 class="stats-items">&nbsp1,026 km || </h4>
<h4 class="stats-items">&nbsp61,934 m elevation gain || </h4>
<h4 class="stats-items">&nbsp300+ hours</h4>
</div>


<div class="hiking-photos-container">
<img id="hiking-photos" src="img/hiking-one.jpeg" alt="hiking">
<img id="hiking-photos" src="img/hiking-two.jpeg" alt="hiking">
<img id="hiking-photos" src="img/hiking-three.jpeg" alt="hiking">
</div>

