<h4 class="resume-title">Resume</h4>
<div id="resume">
        <div class="resume-top">
        <p id="position" class="resume-details">Freelance Software Developer</p>
        <p id="dates" class="resume-details">01/2021 to 04/2021</p>
        </div>
        <p id="company" class="resume-details">Man-Cave Gifts & Collectibles</p>
        <p id="location" class="resume-details">Chilliwack, BC</p>
        <p id="description" class="resume-details">• Communicating with clients to determine business objectives and project requirements <br>
            • Completing full redesign of existing website to improve navigation and enhance visuals using JavaScript, Liquid, HTML, and CSS <br>
            • Optimizing website speed and performance <br></p>

        <div class="resume-top">
        <p id="position" class="resume-details">Learning Tech Rover</p>
        <p id="dates" class="resume-details">09/2019 to 03/2020</p>
        </div>
        <p id="company" class="resume-details">University of British Columbia</p>
        <p id="location" class="resume-details">Vancouver, BC</p>
        <p id="description" class="resume-details">  • Wrote VBA code to automate the transferring of grades between learning platforms <br>
            • Led educational technology workshops for various learning platforms such as Canvas, Proctorio, and iClicker <br>
            • Collaborated with software developers to perform testing on new applications, documented issues through bug tracking system, and implemented bug fixes <br>
        </p>

        <div class="resume-top">
        <p id="position" class="resume-details">Project Assistant</p>
        <p id="dates" class="resume-details">05/2019 to 08/2019</p>
        </div>
        <p id="company" class="resume-details">University of British Columbia</p>
        <p id="location" class="resume-details">Kelowna, BC</p>
        <p id="description" class="resume-details">• Involved in the research and planning of an indoor navigation system that determines indoor positioning using Bluetooth beacons</p>

</div>

